
<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<html>
<head>
<title>Course Registration Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="static/registration/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
	<!-- banner --> 
<div class="video"> 
	<div class="center-container">
	    <div class="w3ls-agileinfo">
			<h1>InterviewIQ</h1>
		</div>
		 <div class="bg-agile">
			<h2>Profile Registration </h2>
			<div class="login-form">	
				<form action="Register_post" method="post" enctype="multipart/form-data">
					<input type="text"  name="textfield" placeholder="First Name" required  pattern="[A-Z a-z.]{3,25}"/>
					<input type="text"  name="textfield2" placeholder="Last Name"  pattern="[A-Z a-z.]{3,25}"/>
                    <input type="email"  name="textfield9" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" />
{#					<input type="text"  name="textfield4" placeholder="Street Address" required="" />#}

					<div class="left-w3-agile">
                        <input type="text"  name="Country" placeholder="Country" required="" />
						<input type="text"  name="textfield5" name="Post" placeholder="Postoffice" required="" />
					</div>
					<div class="right-agileits">
						<input type="text"  name="textfield4" placeholder="City" required pattern="[a-z]{3,25}" />
						<input type="text"  name="textfield6" placeholder="Zip/postal code" required="" />
					</div>
                    <input type="text"  name="textfield7" placeholder="Phone Number" required pattern="[6789][0-9]{9}" />
                    <label for="f1" col><span style="color: white">Image</span></label>
                    <input type="file" id="f1" name="file" placeholder="Photo" required="" class="form-control " required/>
                    <label for="f1" col><span style="color: white">CV</span></label>
                    <input type="file"  name="file2" placeholder="CV" required="" class="form-control " required/>
                    <label for="f1" col><span style="color: white">Proof</span></label>
                    <input type="file"  name="file3" placeholder="Proof" required="" class="form-control " />
                    <input type="text"  name="textfield11" placeholder="Username" required pattern="[a-z]{3,25}" />

                     <input type="password" class="form-control"  name="textfield122" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
					<input type="submit" value="Submit">
				</form>	
			</div>	
		</div>
	<!-- //banner --> 
	 <!--copyright-->
		<div class="copy w3ls">
            <p> © 2024 Interview Registration Form. All rights reserved</p>
	<!--//copyright-->
	</div>	
</div>	
</body>
</html>